# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DataStruct_main/SeqList/SeqList.VC.VC.opendb
DataStruct_main/SeqList/SeqList.VC.db
DataStruct_main/SeqList/.vs/SeqList/v14/.suo
DataStruct_main/SeqList/SeqList.VC.db
